* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  color: #273444;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
}

/* ▼ WHERE YOUR CODE BEGINS */
.profile {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap */
  align-items: center;
  background-color: antiquewhite;
  border-radius: 16px;
  width: 386px;
  height: 304px;
  padding: 32px 40px;
}

.profile-image {
  display: block; /*inline이라 그냥 선언*/
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.profile-name {
  margin-bottom: 4px;
}

.profile-location {
  margin-bottom: 32px;
}

.profile-detail {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  justify-content: space-around;
  align-items: center; /*그냥 디테일에서 중앙정렬*/
  width: 100%; /*자식들이 나한테 width 100% 맞춤*/
  text-align: center;
}
